// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partials/variables';
@import 'partials/commons';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container-fluid{
    height: 100px;
    font-size: 40px;
    background-color: dodgerblue;
}
.title{
  
    vertical-align: middle;
    
    text-align: center;
}

h1{
    font-size: 100px;
    line-height: 500px;
}
ul li a{
    color: whitesmoke;
}
